{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}
{% load url from future %}

{% block title %}
    {% trans "Paybill Payment" %} {{ payment.reference_number }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            M-Pesa <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'mpesa-payments-list' %}">{% trans "Paybill payments" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ payment.reference_number }}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% blocktrans with id=payment.reference_number %}
        Payment {{ id }}
    {% endblocktrans %}
{% endblock %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered">
        <tbody>
            <tr><th>{% trans "Reference Number" %}</th><td>{{ payment.reference_number }}</td></tr>
            <tr><th>{% trans "Phone Number" %}</th><td>{{ payment.subscriber_phone_number }}</td></tr>
            <tr><th>{% trans "Account Name" %}</th><td>{{ payment.subscriber_name }}</td></tr>
            <tr><th>{% trans "Amount" %}</th><td>{{ payment.amount|currency:"KES" }}</td></tr>
            <tr><th>{% trans "Message Received" %}</th><td>{{ payment.message }}</td></tr>
        </tbody>
    </table>
{% endblock dashboard_content %}