{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}
{% load url from future %}

{% block title %}
    {% trans "M-Pesa Paybill Payments" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            M-Pesa <span class="divider">/</span>
        </li>
        <li class="active">{% trans "Paybill payments" %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "M-Pesa Paybill Payments" %}
{% endblock %}

{% block dashboard_content %}

    {% if payments %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Reference No." %}</th>
                    <th>{% trans "Phone Number" %}</th>
                    <th>{% trans "Account Name" %}</th>
                    <th>{% trans "Amount" %}</th>
                    <th>{% trans "Received On" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                    <tr>
                        <td><a href="{% url 'mpesa-payment-detail' payment.id %}">{{ payment.reference_number }}</a></td>
                        <td>{{ payment.subscriber_phone_number }}</td>
                        <td>{{ payment.subscriber_name }}</td>
                        <td>{{ payment.amount|currency:"KES" }}</td>
                        <td>{{ payment.transaction_datetime }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>{% trans "No payments have been made yet." %}</p>
    {% endif %}

{% endblock dashboard_content %}