{% extends "oscar/base.html" %}

{% block tracking %}{% endblock %}
 
{% block title %}
Paybill IPN Generator - Test Tool
{% endblock %}

{% block extrastyles %}
<style>
	body{
		padding: 2em;
	}
	#response-msg{
		font-size: 1.5em;
	}
	#params-list{
		margin-top: 15px;
		list-style: none;
	}
	.label-error{
		background: #B94A48;
	}
</style>
{% endblock %}

{% block layout %}
	<div class="row">
		<div class="span6">
			<form id="ipn-form" action="" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button id="submit-ipn-form" class="btn btn-default btn-lg" type="submit">Generate</button>
		</form>
		</div>
		<div class="span6">
			<div class="well">
				<h2>Response</h2>
				<div id="response-msg"><small>All fields are optional.</small></div>
				<ul id="params-list"></ul>
			</div>
		</div>
	</div>

{% endblock %}

{% block extrascripts %}
<script type="application/javascript">
	var ipn_receiver_url = "{% url 'ipn-receiver' %}";
	$(function(){
		$('#submit-ipn-form').click(function(e){
			e.preventDefault();

			$.post('', $('form#ipn-form').serialize(), function(data){
				var json_data = JSON.parse(data);
				$.get(ipn_receiver_url, json_data, function(response){
					var msg_class = 'success';
					if(response.indexOf('FAIL') === 0){
						msg_class = 'error';
					}

					var response_msg = $("#response-msg");
					response_msg.html(response);
					response_msg.removeClass();
					response_msg.addClass('text-' + msg_class);


					var param_list = $("#params-list");

					param_list.empty();

					for(var param_name in json_data){
						var param_val = json_data[param_name];
						var item = $("li");
						
						// should look like
						// <li><span>key</span> val</li>
						param_list.append(
							"<li>" +
							"<span class='label label-" + msg_class + "'>" +
							param_name +
							"</span> " +
							param_val +
							"</li>"
						);
					}
				});
			});
		});
	});
</script>
{% endblock %}