{% extends 'oscar/checkout/checkout.html' %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans "Payment method" %} | {{ block.super }}
{% endblock %}

{% block extrastyles %}
	<style>
		a.mpesa-btn{
			text-align:center; display:
			block; width: 320px;
			border: 1px solid #CCC;
			opacity: 0.7;
			-webkit-transition: opacity 0.2s ease-in-out;
			-moz-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
		}
		a.mpesa-btn:hover{
			opacity: 1;
			text-decoration: none;
		}
	</style>
{% endblock %}

{% block checkout_title %}{% trans "Pick a payment method" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block payment_details %}
    <a href="{% url 'mpesa-payment-details' %}" class="mpesa-btn">
    	<img src="{% static 'img/mpesa.jpg' %}" >
    	Pay with M-Pesa
    </a>
{% endblock %}