{% extends 'oscar/checkout/payment_details.html' %}
{% load url from future %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load currency_filters %}

{% block extrastyles %}
<style>
.mpesa-var {
    color: #b94a48;
}
</style>
{% endblock %}

{% block checkout_nav %}{% endblock %}

{% block payment_details %}
    <div class="mpesa-payment-details">
        <div class="row-fluid">
            <div class="span6">
                <h4>
                    Your order summary
                    <span class="pull-right"><a href="{% url 'basket:summary' %}">Edit</a></span>
                </h4>
                <table class="table table-striped table-bordered">
                    <col width="70%">
                    <col width="20%">
                    <thead>
                        <tr>
                            <th>{% trans 'Item' %}</th>
                            <th>{% trans 'Quantity/Price' %}</th>
                            <th>{% trans 'Cost' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line in basket.all_lines %}
                            {% purchase_info_for_line request line as session %}
                            <tr>
                                <td>
                                    <p>{{ line.product.title }}</p>
                                    <span class="availability {{ session.availability.code }}">{{ session.availability.message }}</span>
                                </td>
                                <td>{{ line.quantity }} x 
                                {% if not show_tax_separately and line.is_tax_known %}
                                  {{ line.price_incl_tax|currency:basket.currency }}
                                {% else %}
                                  {{ line.price_excl_tax|currency:basket.currency }}  
                                {% endif %}
                                </td>
                                <td>
                                    {% if not show_tax_separately and line.is_tax_known %}
                                        {{ line.line_price_incl_tax|currency:basket.currency }}
                                    {% else %}
                                        {{ line.line_price_excl_tax|currency:basket.currency }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row-fluid">
                    <div class="span4">&nbsp;</div>
                    <div class="span8">
                        <div class="sub-header">
                            <h2>{% trans 'Totals' %}</h2>
                        </div>
                        {% include 'basket/partials/basket_totals.html' %}
                    </div>
                </div>
            </div>
            <div class="span6 well">
                <p class="lead">Pay with Safaricom M-PESA on your phone.
                <p>Select <strong>Lipa na M-PESA</strong>, then <strong>Pay Bill</strong> and enter:
                <ol>
                    <li><strong class="mpesa-var">{{ paybill_number }}</strong> for the business number.
                    <li>Nothing for the account number.
                    <li><strong class="mpesa-var">{{ basket.total_incl_tax }}</strong> for the amount to be paid.
                    <li>Your M-PESA PIN to complete the transaction.
                </ol>

                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="control-group {% if transaction_reference_form.reference_number.errors%}error{% endif %}">
                        <label for="{{ transaction_reference_form.reference_number.id_for_label }}">Enter the <strong>Transaction Reference</strong> from the confirmation SMS:</label>
                        <div class="controls">
                            <input type="text" id="{{ transaction_reference_form.reference_number.id_for_label }}" name="{{ transaction_reference_form.reference_number.html_name }}" class="span12" placeholder="e.g. FU76YA504">
                            {{ transaction_reference_form.reference_number.errors }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-large btn-block js-disable-on-click" data-loading-text="{% trans 'Submitting...' %}">{% trans 'Place Order' %}</button>
                </form>
            </div>
            
        </div>
        
    </div>
{% endblock %}
